In [116]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

In [117]:
data = pd.read_csv("churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [118]:
df = data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [119]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [120]:
le = LabelEncoder()
ohe = OneHotEncoder(handle_unknown='ignore')

In [121]:
df["Gender"] = le.fit_transform(df["Gender"])
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [122]:
geo_onehot_encoder = ohe.fit_transform(df[["Geography"]]).toarray()
geo_encoded_df = pd.DataFrame(geo_onehot_encoder, columns=ohe.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [123]:
df = pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [124]:
df

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [125]:
X = df.drop('EstimatedSalary',axis=1)
y = df['EstimatedSalary']

In [126]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,random_state=42)

In [127]:
X_train

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
9254          686       1  ...                0.0              0.0
1561          632       1  ...                1.0              0.0
1670          559       1  ...                0.0              1.0
6087          561       0  ...                0.0              0.0
6669          517       1  ...                0.0              0.0
...           ...     ...  ...                ...              ...
5734          768       1  ...                0.0              0.0
5191          682       0  ...                0.0              0.0
5390          735       0  ...                0.0              0.0
860           667       1  ...                0.0              0.0
7270          697       1  ...                1.0              0.0

[8000 rows x 12 columns]

In [128]:
# scaler three features

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [129]:
import pickle

In [130]:
# Save the encoders and scaler for later use

with open('regression_gender.pkl','wb') as file:
    pickle.dump(le,file)

with open('regression_ohe.pkl','wb') as file:
    pickle.dump(ohe,file)

with open('regression_scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

# ANN Regression Statement

In [131]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [132]:
# Build the model

model = Sequential([
    Dense(64, activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # Output layer
])

## compile the model

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [133]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# set up TensorBoard
log_dir = "regressionlogs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [134]:
# Set up Early Stopping

early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [135]:
# train the model

history = model.fit(
    X_train, y_train,
    validation_data = (X_test, y_test),
    epochs=100,
    callbacks = [early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 100386.1172 - mae: 100386.1172 - val_loss: 98546.3125 - val_mae: 98546.3125
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 99738.4688 - mae: 99738.4688 - val_loss: 97233.0859 - val_mae: 97233.0859
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 97451.6953 - mae: 97451.6953 - val_loss: 93858.6719 - val_mae: 93858.6719
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 92918.4922 - mae: 92918.4922 - val_loss: 88168.5078 - val_mae: 88168.5078
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 86164.8047 - mae: 86164.8047 - val_loss: 80587.4844 - val_mae: 80587.4844
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 77895.7109 - mae: 77895.7109 - val_loss: 72227.5312 - val_mae: 72227.5312
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 69418.2891 - mae: 69418.2891 - val_loss: 64430.7188 - val_mae: 64430.7188
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 61979.3008 - mae: 61979.3008 - val_loss: 58234.1484 - val_mae: 58234.1484
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 56484.7344 - mae: 56484.7344 - val_loss: 54089.0156 - val_mae: 54089.0156
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 53160.6758 - mae: 53160.6758 - val_loss: 51973.9922 - val_mae: 51973.9922
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 51484.2227 - mae: 51484.2227 - val_loss: 51125.6406 - val_mae: 51125.6406
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 50743.2734 - mae: 50743.2734 - val_loss: 50825.0664 - val_mae: 50825.0664
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 50438.3008 - mae: 50438.3008 - val_loss: 50717.1133 - val_mae: 50717.1133
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50300.8477 - mae: 50300.8477 - val_loss: 50658.9453 - val_mae: 50658.9453
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 50213.9688 - mae: 50213.9688 - val_loss: 50620.9766 - val_mae: 50620.9766
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 50148.5391 - mae: 50148.5391 - val_loss: 50576.6562 - val_mae: 50576.6562
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 50093.3906 - mae: 50093.3906 - val_loss: 50552.9023 - val_mae: 50552.9023
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 50045.8516 - mae: 50045.8516 - val_loss: 50531.2070 - val_mae: 50531.2070
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 50005.6055 - mae: 50005.6055 - val_loss: 50500.2070 - val_mae: 50500.2070
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 49968.1836 - mae: 49968.1836 - val_loss: 50483.3125 - val_mae: 50483.3125
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 49930.4688 - mae: 49930.4688 - val_loss: 50466.3008 - val_mae: 50466.3008
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 49900.8750 - mae: 49900.8750 - val_loss: 50449.1641 - val_mae: 50449.1641
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 49874.6445 - mae: 49874.6445 - val_loss: 50434.3828 - val_mae: 50434.3828
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 49850.2109 - mae: 49850.2109 - val_loss: 50418.9844 - val_mae: 50418.9844
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 49826.9141 - mae: 49826.9141 - val_loss: 50417.7578 - val_mae: 50417.7578
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 49806.7930 - mae: 49806.7930 - val_loss: 50394.2070 - val_mae: 50394.2070
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 49783.6250 - mae: 49783.6250 - val_loss: 50383.1172 - val_mae: 50383.1172
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 49765.3984 - mae: 49765.3984 - val_loss: 50385.8516 - val_mae: 50385.8516
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 49749.2031 - mae: 49749.2031 - val_loss: 50382.1836 - val_mae: 50382.1836
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 49728.2617 - mae: 49728.2617 - val_loss: 50372.2266 - val_mae: 50372.2266
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 49715.4023 - mae: 49715.4023 - val_loss: 50367.1406 - val_mae: 50367.1406
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 49701.2852 - mae: 49701.2852 - val_loss: 50357.6445 - val_mae: 50357.6445
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 49687.9727 - mae: 49687.9727 - val_loss: 50352.9492 - val_mae: 50352.9492
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 49672.0938 - mae: 49672.0938 - val_loss: 50341.5547 - val_mae: 50341.5547
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 49660.9766 - mae: 49660.9766 - val_loss: 50334.2031 - val_mae: 50334.2031
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 49647.4688 - mae: 49647.4688 - val_loss: 50335.1797 - val_mae: 50335.1797
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 49634.6016 - mae: 49634.6016 - val_loss: 50337.3086 - val_mae: 50337.3086
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 49625.2891 - mae: 49625.2891 - val_loss: 50331.0078 - val_mae: 50331.0078
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 49615.0703 - mae: 49615.0703 - val_loss: 50322.2422 - val_mae: 50322.2422
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 49605.5117 - mae: 49605.5117 - val_loss: 50321.4648 - val_mae: 50321.4648
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 49599.4375 - mae: 49599.4375 - val_loss: 50313.0430 - val_mae: 50313.0430
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 49585.5273 - mae: 49585.5273 - val_loss: 50316.8594 - val_mae: 50316.8594
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 49578.9062 - mae: 49578.9062 - val_loss: 50306.1562 - val_mae: 50306.1562
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 49570.7461 - mae: 49570.7461 - val_loss: 50304.9297 - val_mae: 50304.9297
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 49560.6758 - mae: 49560.6758 - val_loss: 50311.1133 - val_mae: 50311.1133
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 49550.3320 - mae: 49550.3320 - val_loss: 50324.9648 - val_mae: 50324.9648
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 49545.8906 - mae: 49545.8906 - val_loss: 50323.3398 - val_mae: 50323.3398
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 49535.6602 - mae: 49535.6602 - val_loss: 50320.8594 - val_mae: 50320.8594
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 49525.8711 - mae: 49525.8711 - val_loss: 50313.3672 - val_mae: 50313.3672
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 49520.4492 - mae: 49520.4492 - val_loss: 50322.1758 - val_mae: 50322.1758
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 49514.8242 - mae: 49514.8242 - val_loss: 50324.3867 - val_mae: 50324.3867
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 49506.3125 - mae: 49506.3125 - val_loss: 50317.7734 - val_mae: 50317.7734
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 49500.0469 - mae: 49500.0469 - val_loss: 50330.9766 - val_mae: 50330.9766
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 49495.6992 - mae: 49495.6992 - val_loss: 50332.6250 - val_mae: 50332.6250

In [148]:
model.save('regression_model.h5')

d:\Conda\envs\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [136]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [145]:
%tensorboard --logdir regressionlogs/fit20250802-142930

Reusing TensorBoard on port 6008 (pid 20444), started 0:00:02 ago. (Use '!kill 20444' to kill it.)